body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
  }
  
  .app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
  
  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  
  section {
    background-color: #e6f7ff;
    padding: 1rem;
  }
  
  article {
    background-color: #ffffff;
    padding: 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  aside {
    background-color: #fff7e6;
    padding: 1rem;
  }
  
  footer {
    background-color: #282c34;
    color: white;
    padding: 0.5rem;
    text-align: center;
  }
  